body{
    position: absolute;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    background-color: #F5F5F5;
    --head-cont-height: 45px;
    --head-cont-width: 100%;
    --max-width: 720px;
    width: 100%;
    min-width: 320px;
}

a{
    text-decoration: none;
    color: inherit;
}

.swiper-container {
    width: 100%;
}

.swiper-slide {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.loader {
    position: relative;
    margin: 40px 0 0 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: #03a9f4;
    border-radius: 50%;
}

.loader::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    border: 0 solid white;
    transform: translate(-50%, -50%);
    animation: loading 1000ms ease-out forwards infinite;
}

@keyframes loading {
    0% {
        border: 0 solid #F5F5F5;
    }

    20% {
        border: 8px solid #F5F5F5;
        width: 0;
        height: 0;
    }

    100% {
        border: 8px solid #F5F5F5;
        width: 100%;
        height: 100%;
    }
}

.more-cont{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: .2em;
    font-size: 14px;
    background-color: #e0e0e0;
}

.head-cont{
    position: fixed;
    height: var(--head-cont-height);
    width: var(--head-cont-width);
    background-color: #FFFFFF;
    box-shadow: 0 0 5px 2px rgba(100, 100, 100, .1);
    z-index: 2;
}

.nav-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    --nav-item--comm-width: 25%;
    --nav-item--comm-height: var(--head-cont-height);
    line-height: var(--nav-item--comm-height);
    text-align: center;
}

.nav-item--comm{
    display: inline-block;
    width: var(--nav-item--comm-width);
    height: var(--nav-item--comm-height);
    letter-spacing: .1em;
}

.nav-a--cont{
    display: inline-block;
    box-sizing: border-box;
    width: 65%;
    height: inherit;
    color: rgb(20, 20, 20);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.nav-a--cont.active{
    color: rgb(66, 166, 244);
    border-bottom-color: rgb(66, 166, 244);
}

.body-cont{
    margin: 0 auto;
    margin-top: 53px;
    max-width: var(--max-width);
}

.datum-cont--comm{
    margin: 10px auto;
    width: 96%;
    background-color: #FFFFFF;
    height: 65px;
    --datum-height: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    border-radius: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 15px;
}

.datum-doc--icon{
    background: url("../images/word.svg") no-repeat center;
}

.datum-pdf--icon{
    background: url("../../resource/image/pdf.svg") no-repeat center;
}

.datum-ppt--icon{
    background: url("../../resource/image/ppt.svg") no-repeat center;
}

.datum-zip--icon{
    background: url("../../resource/image/zip.svg") no-repeat center;
}

.datum-pic--icon{
    background: url("../images/images.svg") no-repeat center;
}

.datum-code--icon{
    background: url("../images/code.svg") no-repeat center;
}

.datum-exe--icon{
    background: url("../images/exe.svg") no-repeat center;
}

.datum-wangpan--icon{
    background: url("../images/baiduyun.svg") no-repeat center;
}

.datum-icon--comm{
    height: 100%;
    width: var(--datum-height);
    background-size: 85%;
    color: rgb(66, 166, 244);
}

.datum-txt--comm{
    width: calc(100% - var(--datum-height) - 50px);
    text-align: left;
    text-indent: .3em;
    line-height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.datum-op--comm{
    width: 50px;
    height: 100%;
}

.dataum-download{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/download.svg") no-repeat center;
    background-size: 85%;
}

.footer-cont{
    margin: 0 auto;
    max-width: var(--max-width);
}
