<div class="code-cont css">
    <div class="code">
        <div class="line">
            <span class="tag">div</span><span class="string">.code-cont</span><span class="start">{</span>
        </div>
        <div class="line">
            <div class="retract">
                <span class="key">position</span><span class="colon">:</span><span class="value">relative</span><span class="sem">;</span>
            </div>
        </div>
        <div class="line">
            <div class="retract">
                <span class="key">margin</span><span class="colon">:</span><span class="value">0 auto</span><span class="sem">;</span>
            </div>
        </div>
        <div class="line">
            <div class="retract">
                <span class="key">padding</span><span class="colon">:</span><span class="value">.75em</span><span class="sem">;</span>
            </div>
        </div>
        <div class="line">
            <div class="retract">
                <span class="key">border</span><span class="colon">:</span><span class="value">.8em solid #FFFFFF</span><span class="sem">;</span>
            </div>
        </div>
        <div class="line">
            <div class="retract">
                <span class="key">background-color</span><span class="colon">:</span><span class="value">#F5F5F5</span><span class="sem">;</span>
            </div>
        </div>
        <div class="line">
            <span class="end">}</span>
        </div>
    </div>
</div>